.listbox {
    margin: 0 100px;
    display: inline-block;
    position: relative;
    width: 700px;
    vertical-align: middle;
}

.warning {
    display: block;
    margin-inline-start: 40px;
    margin-top: 20px;
    line-height: 24px;
    font-size: 14px;
    color: #888888;
}

.content {
    margin-inline-start: 0px;
    margin-top: 20px;
    font-size: 13px;
    color: #888888;
    line-height: 24px;
}

.listbox li {
    list-style: none;
    margin: 0;
    margin-bottom: 10px;
}