.listbox{
    margin: 0 100px;
    display: inline-block;
    position: relative;
    width: 600px;
    vertical-align: middle;
}



.listbox > dt {
    display: block;
    margin-inline-start: 40px;
    margin-top: 20px;
    line-height: 24px;
    font-size: 14px;
    color: #888888;
}

.listbox > dd {
    margin-top: 20px;
    font-size: 13px;
    color: #888888;
    line-height: 24px;
}