.pizza {
  box-sizing: border-box;
  font-family: 'nanumsquare';
  font-weight: bold;
  font-size: 1.1rem;
  width: 90%;
  margin: 2rem auto;
}

.pizza ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
}